.footer {
  bottom: 0;
  width: 100%;
  padding: 1.3875rem 0;
  background-color: var(--color-primary);
  justify-content: center;
  align-items: center;

  &.open {
    height: fit-content;
    padding-bottom: 100px;
    background-color: var(--color-white);
  }
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--max-container-width);
  margin: 0 auto;
  padding: 0 20px;
}

.btn {
  display: block;
  width: fit-content;
  margin: 0 auto;
  font-size: 28px;
  font-weight: 500;
  line-height: 100%;
  color: var(--color-white);

  &.open {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 8px 24px;
    border: 1px solid var(--color-gray-6);
    border-radius: 30px;
    color: #6c6c6c;
    background: #f9fafb;
    box-shadow: 0 0 7.35px 0 #0000000a;
  }
}

.footerWrapper {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.btnText {
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 1.55rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.btnImgFooterArrow {
  height: 16px;
  width: 32px;
  flex-shrink: 0;
}

.btnImg {
  width: 1.0625rem;
  height: 0.625rem;
}

.footerTitle {
  margin-top: 32px;
  margin-bottom: 16px;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.5em;
  color: var(--color-primary);
  text-align: center;

  @media (width <= 1024) {
    font-size: 32px;
  }

  @media (width <= 768) {
    font-size: 28px;
  }

  @media (width <= 576) {
    font-size: 24px;
  }
}

.footerSubtitle {
  max-width: 1147px;
  margin: 0 auto;
  margin-bottom: 80px;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5em;
  color: #2a3d6699;
  text-align: center;

  @media (width <= 1024) {
    max-width: 70%;
    margin-bottom: 40px;
    font-size: 18px;
  }

  @media (width <= 768) {
    max-width: 85%;
    font-size: 16px;
  }

  @media (width <= 576) {
    max-width: 100%;
    font-size: 14px;
  }
}
