.tabsWrapper {
  grid-area: tabs;
  order: 2;
  width: 100%;
  max-width: 580px;
  padding-top: 24px;

  @media (width <= 1024px) {
    margin: 0 auto;
    padding-top: unset;
  }

  @media (width <= 768px) {
    max-width: unset;
  }
}

.tabs {
  display: flex;
  gap: 40px;
  align-items: center;
  margin-bottom: 40px;

  @media (width <= 1024px) {
    justify-content: center;
    margin-bottom: 24px;
  }

  @media (width <= 576px) {
    gap: 20px;
    justify-content: flex-start;
  }
}

.tabItem {
  position: relative;
  font-size: 18px;
  font-weight: 500;
  color: var(--color-gray-medium);

  .link {
    color: inherit;
  }

  &.active {
    color: var(--color-primary);

    &::after {
      content: '';
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: var(--color-primary);
    }
  }

  @media (width <= 768) {
    font-size: 16px;
  }
}

.creditNotes {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: left;
  padding-top: 24px;

  @media (width <= 576px) {
    padding-top: 12px;
  }
}
.amountInfo {
  display: flex;
  gap: 48px;
  font-size: 16px;
  color: var(--color-gray-medium);

  @media (width <= 1440) {
    gap: 30px;
  }

  @media (width <= 768) {
    font-size: 12px;
  }

  @media (width <= 576) {
    gap: 8px;

    width: 100%;
  }
}

.note {
  display: flex;
  gap: 8px;
  align-items: center;
}

.protection {
  display: flex;
  gap: 12px;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  font-size: 10px;
  line-height: 100%;
  color: rgba(64, 64, 64, 0.8);

  @media (width <= 768) {
    max-width: unset;
  }
}
