$border-radius: 40px;
$transition: all 0.25s ease;
$left-offset: 30px;

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;

  // max-width: 480px;
  padding: 10px;
  padding-left: 0;
  border: 2px solid transparent;
  border-radius: $border-radius;

  background: #fff;
  box-shadow: 0 0 12px 0 #0000000a;

  transition: $transition;

  &:hover {
    border-color: var(--color-secondary);
    box-shadow: none;
  }

  & .focused {
    border-color: var(--color-secondary);
    box-shadow: none;
  }

  & .inputContainer {
    position: relative;

    display: flex;
    flex: 1;
    flex-direction: row;

    font-size: 14px;
  }
}

.label {
  pointer-events: none;

  position: absolute;
  top: 50%;
  left: $left-offset;
  transform: translateY(-50%);

  font-size: 16px;
  color: #64757d;

  transition: $transition;

  .amount {
    font-weight: 500;
    color: var(--color-primary);
  }

  &.labelActive {
    top: 8px;
    font-size: 12px;
    font-weight: 500;
    color: var(--color-primary);
  }
}

.input {
  padding: 18px 0 4px $left-offset;
  border: none;

  font-family: var(--font-poppins);
  font-size: 16px;

  background: transparent;
  outline: none;
}

.button {
  cursor: pointer;

  margin-left: 16px;
  padding: 20px 24px;
  border: none;
  border-radius: 40px;

  font-weight: 600;
  color: #fff;

  background: var(--color-secondary);

  transition: $transition;
}
