$border-radius: 40px;
$transition: all 0.25s ease;
$left-offset: 30px;
$left-offset-s: 18px;

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 14px;
  padding-left: 0;
  border: 2px solid transparent;
  border-radius: $border-radius;
  background: var(--color-white);
  box-shadow: 10px 19px 55px rgba(205, 205, 205, 0.5);
  transition: $transition;

  &:hover {
    border-color: var(--color-primary);
    outline: 1px solid var(--color-primary);
    box-shadow: 10px 10px 55px 0px rgba(42, 61, 102, 0.4);
    transition-timing-function: ease-in;
  }

  &.focused {
    border-color: var(--color-primary);
    outline: 1px solid var(--color-primary);
    box-shadow: none;
    transition-timing-function: ease-in;
  }

  @media (width <= 1440px) {
    padding: 10px;
  }

  @media (width <= 768px) {
    width: 100%;
    max-width: 100%;
    height: 66px;
    padding: 8px;
    padding-left: 0;
  }
}

.inputContainer {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: row;
  font-size: 14px;
}

.label {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: $left-offset;
  transform: translateY(-50%);
  font-size: 20px;
  color: var(--color-gray-medium);
  transition: $transition;
  white-space: nowrap;

  .amount {
    font-weight: 500;
    color: var(--color-primary);
  }

  &.labelActive {
    top: 8px;
    font-size: 12px;
  }

  @media (width <= 1440px) {
    left: $left-offset-s;
    font-size: 16px;
  }

  @media (width <= 576) {
    font-size: 12px;
  }

  @media (width <= 768px) {
    font-size: 14px;
  }
}

.input {
  width: 100%;
  padding: 22px 0 4px $left-offset;
  border: none;
  font-family: var(--font-poppins);
  font-size: 20px;
  background: transparent;
  outline: none;

  @media (width <= 1440px) {
    padding: 22px 0 4px $left-offset-s;
    font-size: 16px;
  }

  @media (width <= 576) {
    font-size: 16px; /* Minimum 16px to prevent iOS zoom on focus */
  }
}

.button {
  cursor: pointer;
  margin-left: 16px;
  padding: 24px 28px;
  border: none;
  border-radius: 40px;
  font-weight: 600;
  font-size: 20px;
  color: var(--color-white);
  white-space: nowrap;
  background: var(--color-secondary);
  transition: $transition;

  &:hover {
    background-color: var(--color-secondary);
  }

  &:active {
    background-color: var(--color-secondary);
  }

  @media (width <= 1440px) {
    padding: 16px 22px;
    font-size: 16px;
  }

  @media (width <= 576) {
    font-size: 14px;
  }
}

.buttonDisabled {
  cursor: not-allowed;
  opacity: 0.5;
  background: var(--color-gray-medium);

  &:hover {
    background: var(--color-gray-medium);
  }
}
