.wrapper {
  display: flex;
  gap: 12px;
  justify-content: space-between;
  width: 100%;

  @media (width <= 1440) {
    gap: unset;
    justify-content: unset;
  }
}

.list {
  width: 100%;
  max-width: 1230px;

  @media (width <= 1440) {
    margin: 0 auto;
  }

  @media (width <= 993) {
    max-width: 70%;
  }

  @media (width <= 768) {
    max-width: 80%;
  }

  @media (width <= 576px) {
    max-width: 100%;
  }
}

.listItem {
  position: relative;
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
  padding: 24px;
  border: 1px solid var(--color-gray-6);
  border-radius: 16px;

  &:last-child {
    margin-bottom: unset;
  }

  @media (width <= 1440) {
    gap: 12px;
  }

  @media (width <= 993) {
    flex-direction: column;
    padding: 16px;
  }
}

.listItemNumber {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 40px;
  border-top-left-radius: 16px;
  border-bottom-right-radius: 16px;
  font-size: 24px;
  font-weight: 500;
  color: var(--color-white);
  text-align: center;
  background-color: var(--color-primary);

  @media (width <= 1200) {
    font-size: 18px;
  }
}

.imgTitleElem {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  width: fit-content;
  width: 100%;
  max-width: 172px;
  margin: 0 auto;
  // padding: 10px 32px;
  padding: 10px 0;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: var(--color-white);
  text-align: center;
  white-space: nowrap;
  background: var(--color-green-dark);

  @media (width <= 576) {
    max-width: 108px;
    padding: 4px 0;
    font-size: 9px;
    white-space: nowrap;
  }
}

.imgTitleElem2 {
  padding: 9px 14px;
  border: 1px solid var(--color-green-dark);
  border-radius: 8px;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-secondary);
  text-align: center;
  background: var(--color-green-dark-alpha);

  @media (width <= 993) {
    font-size: 12px;
    white-space: nowrap;
  }

  @media (width <= 576) {
    padding: 4px 9px;
    font-size: 9px;
    white-space: nowrap;
  }
}

/* stylelint-disable-next-line scss/dollar-variable-pattern */
$imgTitleHeight: 40px;

.listItemImgWrapper {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 140px;
  max-width: 215px;
  min-height: 0;
  margin-top: $imgTitleHeight * -1;
  // margin-top: 16px;

  .imgTitle {
    position: absolute;
    bottom: 0;

    @media (width <= 993) {
      position: unset;
    }
  }

  @media (width <= 993) {
    flex-direction: column;
    // max-width: unset;
    height: 168px;
    margin: 0 auto;
    margin-top: unset;

    .listItemImg {
      position: unset !important;
      margin-bottom: 20px;
    }
  }

  @media (width <= 576px) {
    max-width: 140px;
  }
}

.listItemContent {
  width: 100%;
  margin-bottom: 8px;
}

.listItemContentTop {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.listItemTitle {
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 600;
  color: var(--color-black);

  @media (width <= 993) {
    display: none;
  }
}

.listItemSubtitle {
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 400;
  color: var(--color-text-muted);

  @media (width <= 993) {
    display: none;
  }
}

.listItemReview {
  display: flex;
  gap: 3px;
  align-items: center;

  @media (width <= 993) {
    display: none;
  }
}

.listItemReviewNumber {
  color: var(--color-secondary);
  text-decoration: underline;
}

.listItemReviewBold {
  font-size: 17px;
  font-weight: 500;
  line-height: 26px;
  color: var(--color-black);
}

.listItemRating {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  height: fit-content;
  font-size: 52px;
  font-weight: 600;
  line-height: 52px;
  // line-height: 52px;
  color: var(--color-primary);

  @media (width <= 1200) {
    font-size: 36px;
    line-height: 36px;

    .listItemRatingStar {
      width: 20px;
      height: 18px;
    }
  }

  @media (width <= 993) {
    position: absolute;
    top: 12px;
    right: 16px;
    font-size: 30px;
    line-height: 30px;

    .listItemRatingStar {
      width: 16px;
      height: 16px;
    }
  }
}

.listItemContentBottom {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 44px;

  @media (width <= 993) {
    flex-direction: column;
    gap: 32px;
    margin-top: 20px;
  }
}

.listItemTable {
  display: flex;
  // justify-content: space-between;
  width: 100%;
  max-width: 677px;

  @media (width <= 993) {
    justify-content: center;
  }
}

.listItemTableItem {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  // width: 33%;
  min-width: 110px;
  // max-width: 183px;
  padding: 0 32px;
  border-right: 1px solid var(--color-black-alpha-15);
  white-space: nowrap;

  &:first-child {
    padding-left: unset;
  }

  &:last-child {
    padding-right: unset;
    border-right: unset;
  }

  @media (width <= 1440) {
    padding: 0 22px;
  }

  @media (width <= 1200) {
    gap: unset;
    padding: 0 16px;
  }

  @media (width <= 425) {
    align-items: unset;
    justify-content: unset;
    padding: 0 10px;

    &:first-child {
      padding-left: 10px;
    }

    &:last-child {
      padding-right: 10px;
    }
  }
}

.listItemTableItemValue {
  font-size: 24px;
  font-weight: 500;
  line-height: 1em;
  color: var(--color-black);
  text-align: center;

  @media (width <= 1200) {
    font-size: 18px;
  }

  @media (width <= 768) {
    font-size: 16px;
  }

  @media (width <= 425) {
    font-size: 14px;
  }
}

.listItemTableItemTitle {
  font-size: 20px;
  color: var(--color-gray-5);
  text-align: center;

  @media (width <= 1200) {
    font-size: 14px;
  }

  @media (width <= 768) {
    font-size: 10px;
  }
}

.listItemBtn {
  display: flex;
  gap: 8px;
  height: fit-content;
  padding: 17px 24px;
  font-weight: 600;
  white-space: nowrap;

  @media (width <= 1200) {
    font-size: 16px;
  }

  @media (width <= 993) {
    padding: 10px 32px;
    font-size: 14px;

    .btnImg {
      width: 16px;
      height: 16px;
    }
  }
}

.infoBlock {
  display: flex;
  width: 100%;
  max-width: 414px;
  height: fit-content;
  // max-height: 144px;
  margin-bottom: 24px;
  padding: 20px;
  border: 1px solid var(--color-black-alpha-10);
  border-radius: 12px;

  @media (width <= 1440) {
    display: none;
  }
}

.infoBlockTitle {
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5em;
  color: var(--color-primary);
}

.infoBlockSubtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5em;
  color: var(--color-text-muted);
}

.infoBlockImgWrapper {
  display: flex;
  align-items: center;
}

.infoBlockImg {
  margin-right: -20px;
}

.advantagesBlock {
  width: 100%;
  max-width: 414px;
  height: fit-content;
  padding: 20px;
  border: 1px solid var(--color-black-alpha-10);
  border-radius: 12px;

  @media (width <= 1440) {
    display: none;
  }
}

.advantagesTitle {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5em;
  color: var(--color-black);
}

.advantagesSubtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  line-height: 1.5em;
  color: var(--color-text-muted);
}

.advantagesListItem {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
  border-bottom: 1px solid var(--color-black-alpha-10);
  color: var(--color-black);

  &:last-child {
    padding-bottom: 20px;
    border-bottom: unset;
  }
}

.advantagesListItemTxt {
  display: flex;
  gap: 13px;
  align-items: center;
}

.advantagesImgArrow {
  transform: rotate(-180deg);
}

