.heros {
  display: flex;
  gap: 25px;
  max-width: 522px;

  @media (width <= 768) {
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin: 0 auto;
  }
}

.herosImages {
  display: flex;

  @media (width <= 768) {
    align-items: center;
  }
}

.heroImageWrapper {
  position: relative;
  overflow: hidden;
  width: 55px;
  height: 55px;
  border-radius: 50%;

  &:nth-child(1) {
    background-color: #ffbc99;
  }

  &:nth-child(2) {
    margin-left: -15px;
    background-color: #cabdff;
  }

  &:nth-child(3) {
    margin-left: -15px;
    background-color: #b5e4ca;
  }

  & .heroImg {
    position: absolute;
    bottom: 0;
  }
}

.herosTitle {
  font-size: 56px;
  font-weight: 500;
  line-height: 100%;
  color: #151515;

  &.herosTitleMobile {
    display: none;
    margin-left: 16px;
  }

  @media (width <= 1440) {
    font-size: 50px;
  }

  @media (width <= 1024) {
    font-size: 38px;
  }

  @media (width <= 768) {
    display: none;

    &.herosTitleMobile {
      display: block;
      font-size: 38px;
    }
  }
}

.herosTxt {
  font-size: 15px;
  line-height: 150%;
  color: #404040cc;

  @media (width <= 768) {
    text-align: center;
  }
}
