.page {
  width: 100%;
  background: var(--color-gray-light);
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}

.mainContainer {
  width: 100%;
  padding: 0 7.5rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;

  @media (max-width: 768px) {
    padding: 0 1.25rem;
  }
  
  @media (min-width: 1025px) and (max-width: 1600px) {
  padding: 0 5.25rem ;
}
}

.main {
  display: grid;
  grid-template-areas:
    'headline tabs'
    'rating tabs';
  grid-template-columns: 5fr 3fr; // две равные колонки
  gap: 32px 0px;
  align-items: flex-start;
  height: fit-content;
  padding: 50px 0 80px;

  @media (width <= 1440px) {
    grid-template-columns: 4fr 3fr; // две равные колонки
    gap: 32px 60px;
    padding: 90px 0 110px;
  }

  @media (width <= 1200px) {
    gap: 32px;
  }

  @media (width <= 1024px) {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 36px 0 48px;
  }

  @media (width <= 768px) {
    padding: 24px 0 48px;
  }
}

.title {
  color: var(--color-primary);
  font-family: Poppins;
  font-style: normal;
  font-weight: var(--font-weight-bold);
  line-height: normal;
  font-size: var(--title-size-large);
  opacity: 0;
  transform: translateY(-8px);
  will-change: opacity, transform;
  transition: opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1),
            transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
            transition-duration: 0.6s;
            transition-delay: 0.05s;


  /* 📱 MOBILE (phones + small tablets) */
@media (max-width: 768px) {
  font-size: var(--title-size-mobile);
  padding-top: 20px;
}

/* 📟 TABLETS (iPads, mid tablets) */
@media (min-width: 769px) and (max-width: 1024px) {
  font-size: var(--title-size-tablet);
}

/* 💻 ALL LAPTOPS (Mac & Windows 1280–1536 CSS px) */
@media (min-width: 1025px) and (max-width: 1600px) {
  font-size: var(--title-size-laptop);
}

}

.titleVisible {
  opacity: 1;
  transform: translateY(0);
}

.reviews {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;

  @media (width <= 1440px) {
    flex-direction: column;
    gap: 48px;
  }
}
