.offerBanner {
  flex-shrink: 0;

  width: 40%;
  max-width: 558px;
  height: 100%;
  max-height: 552px;
  padding: 32px;
  border: 1px solid #e4edff;
  border-radius: 24px;

  background: #f6f9ffb2;

  @media (width <= 1200) {
    max-width: 480px;
    padding: 28px;
  }

  @media (width <= 993) {
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
    border-radius: unset;
  }

  @media (width <= 768) {
    max-width: 90%;
    padding: 20px 16px;
  }

  @media (width <= 567) {
    max-width: 100%;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 72px;
}

.listItem {
  display: flex;
  gap: 12px;
  align-items: center;

  font-size: 18px;
  font-weight: 500;

  @media (width <= 768) {
    font-size: 16px;

    & .listItemImg {
      width: 24px;
      height: 24px;
    }
  }

  @media (width <= 567) {
    font-size: 14px;
    line-height: 16px;
  }
}

.bannerImgWrapper {
  position: relative;

  width: 100%;
  max-width: 406px;
  height: 100%;
  min-height: 216px;
  margin: 0 auto 40px;

  @media (width <= 768) {
    margin: 0 auto;
  }
}
