@import './variables.css';
@import './reset.css';

html {
  overflow-x: hidden;
  max-width: 100vw;
}

body {
  overflow-x: hidden;
  max-width: 100vw;
  font-family: var(--font-poppins);
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  line-height: 120%; /* 120% */
  color: var(--color-primary);
  letter-spacing: -0.2px;
  background: var(--color-white);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: var(--header-height);
}

@media (width <= 768px) {
  body {
    padding-top: var(--header-height-mobile);
  }
}

.main-container {
  overflow-x: hidden;
  
  flex: 1;
  min-height: 0;
}
