:root {
  /* 🎨 Core Colors - 10 Total */
  /* Primary Colors */
  --color-primary: #2a3d66; /* Main brand blue */
  --color-secondary: #2a3d66; /* Main green #5ec189 */
  --color-black: #000;
  --color-white: #fff;
  --color-gray-dark: #161616; /* Dark text/surfaces */
  --color-gray-medium: #9ca3af; /* Medium gray text/borders */
  --color-gray-light: #f3f4f6; /* Light backgrounds */
  --color-border: #e5e7f1; /* Borders */
  --color-accent-orange: #ffbc99;
  --color-accent-purple: #cabdff;
  --color-article-bg: #f8f8f8; /* Article background color */

  /* sizes */
  --max-container-width: 1700px;
  --header-height: 53px;
  --header-height-mobile: 60px;

  /* 🧩 Typography */
  --font-weight-bold: 700;

  /* 📝 Title Font Sizes */

  --title-size-mobile-320: 1.5rem;
  --title-size-mobile-360: 1.77rem;
  --title-size-mobile-375: 1.8rem;
  --title-size-mobile-390: 1.9rem;
  --title-size-mobile-412: 2rem;
  --title-size-mobile-414: 2rem;
  --title-size-mobile-430: 2.1rem;
  --title-size-tablet: 1.8rem;
  --title-size-laptop: 3.6rem;
  --title-size-large: 4rem;

  /* 🎯 Logo Font Sizes */
  --logo-size-mobile: 17px;
  --logo-size-tablet: 20px;
  --logo-size-desktop: 20px;
  --logo-size-desktop: 20px;

  /* About page specific variables */
  --tikTok: 'TikTok Sans', sans-serif;
}
