.btn {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 20px;
  border-radius: 48px;

  font-family: var(--font-poppins);
  font-weight: 500;

  box-shadow: 0 0 12px 0 #0000000a;

  transition: all 0.2s;

  &.primary {
    color: var(--color-white);
    background-color: var(--color-secondary);

    &:hover {
      background-color: #5ab180;
    }

    &:active {
      background-color: #399963;
    }
  }

  &.secondary {
    border: 1px solid var(--color-secondary);
    color: var(--color-secondary);

    &:hover {
      background-color: #5ec1891a;
    }

    &:active {
      color: var(--color-white);
      background-color: #399963;
    }
  }
}
