.btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 48px;
  border-radius: 48px;
  font-family: var(--font-poppins);
  font-size: 20px;
  font-weight: 500;
  box-shadow: 0 0 12px 0 #0000000a;
  transition: all 0.2s;

  &.primary {
    // border: 1px solid var(--color-secondary);
    color: var(--color-white);
    background-color: var(--color-secondary);

    &:hover {
      background-color: var(--color-secondary);
    }

    &:active {
      background-color: var(--color-secondary);
    }
  }

  &.secondary {
    // border: 1px solid var(--color-secondary);
    color: var(--color-secondary);

    &:hover {
      background-color: rgba(94, 193, 137, 0.06);
    }

    &:active {
      color: var(--color-white);
      background-color: var(--color-secondary);
    }
  }

  &.disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }

  @media (width < 1024) {
    padding: 16px 48px;
  }

  @media (width < 786) {
    font-size: 18px;
  }

  @media (width < 576) {
    font-size: 16px;
  }
}
