.wrapper {
  position: relative;
  width: 100%;
  max-width: 1020px;

  &::before {
    pointer-events: none;
    content: '';

    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;

    width: 80px;
    height: 100%;

    background: linear-gradient(
      270deg,
      rgb(239 247 255 / 0%) 23.46%,
      #eff7ff 100%
    );
  }

  &::after {
    pointer-events: none;
    content: '';

    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    transform: rotate(-180deg);

    width: 80px;
    height: 100%;

    background: linear-gradient(
      270deg,
      rgb(239 247 255 / 0%) 23.46%,
      #eff7ff 100%
    );
  }

  @media (width <= 1024) {
    max-width: unset;
  }

  @media (width <= 576) {
    &::before,
    &::after {
      content: unset;
    }
  }
}

.swiper {
  padding: 16px 4px;
}

.card {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 12px;

  width: 400px;
  padding: 24px;
  border-radius: 24px;

  background: var(--color-white);

  &:first-child {
    margin-left: 20px;
  }

  &:last-child {
    margin-right: 20px;
  }

  .rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .ratingWrapper {
    display: flex;
    gap: 2px;
  }

  .ratingSource {
    display: flex;
    gap: 3px;
    align-items: center;

    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
  }

  .txt {
    padding-bottom: 12px;
    border-bottom: 1px solid #e9eff5;
    font-size: 18px;
    line-height: 190%;
  }

  .author {
    display: flex;
    gap: 16px;
    align-items: center;

    font-size: 16px;
    font-weight: 500;
  }

  .authorImg {
    border-radius: 50%;
  }

  @media (width <= 1024) {
    width: 310px;
    padding: 15px;

    .txt {
      padding-bottom: 9px;
      font-size: 14px;
    }

    .author,
    .ratingSource {
      font-size: 12px;
    }

    .author {
      gap: 12px;
    }

    .authorImg {
      width: 25px;
      height: 25px;
    }
  }
}
