.finalTitle {
  margin-top: 70px;

  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;

  @media (width <= 768) {
    margin-top: 32px;
    font-size: 28px;
  }

  @media (width <= 576) {
    margin-top: 32px;
    font-size: 24px;
  }
}

.list {
  display: flex;
  gap: 70px;
  align-items: baseline;
  justify-content: center;

  width: 100%;
  max-width: 1094px;
  margin: 170px auto 150px;

  @media (width <= 768) {
    flex-direction: column;
    gap: 140px;
    align-items: center;

    margin-top: 32px;
    margin-bottom: 32px;
  }
}

.listItem {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  max-width: 318px;

  text-align: center;
}

.listItemImgWrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  border-radius: 25px;
  border-bottom-left-radius: unset;

  background-color: var(--color-secondary);
}

.listItemTitle {
  font-size: 18px;
  font-weight: 600;
}

.listItemTxt {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #11182780;
}

.btnWrapper {
  display: flex;
  justify-content: center;
}
