.page {
  width: 100%;
  background: #eff8ff;
}

.mainContainer {
  width: 100%;
  max-width: var(--max-container-width);
  margin: 0 auto;
  padding: 0 20px;
}

.main {
  display: grid;
  grid-template-areas:
    'headline tabs'
    'rating tabs';
  grid-template-columns: 5fr 3fr; // две равные колонки
  gap: 32px 100px;
  align-items: flex-start;

  height: fit-content;
  padding: 120px 0 140px;

  @media (width <= 1440px) {
    grid-template-columns: 4fr 3fr; // две равные колонки
    gap: 32px 60px;
    padding: 90px 0 110px;
  }

  @media (width <= 1200px) {
    gap: 32px;
  }

  @media (width <= 1024px) {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 36px 0 48px;
  }

  @media (width <= 768px) {
    padding: 24px 0 48px;
  }
}

.title {
  grid-area: headline;
  order: 1;

  font-size: 64px;
  font-weight: 700;
  line-height: 120%;

  @media (width <= 1440px) {
    font-size: 48px;
  }

  @media (width <= 1200px) {
    font-size: 40px;
  }

  @media (width <= 1024px) {
    margin: 0 auto;
    font-size: 36px;
    text-align: center;

    & br {
      display: none;
    }
  }

  @media (width <= 768px) {
    font-size: 28px;
  }

  @media (width <= 576px) {
    margin: unset;
    text-align: left;

    & br {
      display: block;
    }
  }

  @media (width <= 425px) {
    font-size: 26px;
  }
}

.reviews {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;

  @media (width <= 1440px) {
    flex-direction: column;
    gap: 48px;
  }
}
