.list {
  display: flex;
  gap: 80px;
  width: fit-content;
  margin: 0 auto;
  padding: 32px 0;

  @media (width < 1024) {
    padding: 28px 0;
  }

  @media (width < 786) {
    gap: 60px;
    padding: 20px 0;
  }

  @media (width <= 567) {
    gap: 50px;
    font-size: 12px;
  }
}

.listItem {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;

  &:nth-child(1)::after {
    content: '';
    position: absolute;
    top: 15px;
    right: calc(-100% - 15px);
    width: 110px;
    height: 2px;
    background: var(--color-secondary);

    @media (width <= 768) {
      right: calc(-100% - 8px);
      width: 70px;
    }
  }

  &:nth-child(2)::after {
    content: '';
    position: absolute;
    top: 15px;
    right: calc(-56% - 15px);
    width: 110px;
    height: 2px;
    background: #a1aebe;

    @media (width <= 768) {
      right: calc(-56% - 8px);
      width: 70px;
    }
  }

  &.active:nth-child(2)::after {
    background: var(--color-secondary);
  }

  .step {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 2px solid #a1aebe;
    border-radius: 50%;
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    color: var(--color-primary);

    @media (width <= 768) {
      width: 32px;
      height: 32px;
      font-size: 14px;
    }

    @media (width <= 567) {
      font-size: 12px;
    }
  }

  &.active .step {
    border-color: var(--color-secondary);
    color: var(--color-white);
    background-color: var(--color-secondary);
  }

  @media (width <= 768) {
    gap: unset;
  }
}

.title {
  font-size: 18px;
  font-weight: 500;

  @media (width <= 768) {
    font-size: 14px;
  }

  @media (width <= 567) {
    font-size: 12px;
  }
}
