/* Base Button Styles */
.button {
  display: flex;
  padding: 1.25rem 3rem;
  justify-content: center;
  align-items: center;
  gap: 0.8125rem;
  border-radius: 3rem;
  background: #5ec189;
  color: #fff;
  border: none;
  font-family: Poppins;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* Hover State */
.button:hover {
  background: #5ab180;
  cursor: pointer;
}

/* Focus State */
.button:focus {
  background: #399963;
}

/* Arrow Icon */
.arrow {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  transition: transform 0.2s ease;
}

.button:hover .arrow {
  transform: translateX(2px);
}
